*, 
*::before, 
*::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

@font-face {
	font-family: 'Museo Sans Cyrl 700';
	src: url(../fonts/MuseoSansCyrl-700.eot);
	src: local('MuseoSansCyrl-700'),
		url(../fonts/MuseoSansCyrl-700.eot?#iefix) format('embedded-opentype'),
		url(../fonts/MuseoSansCyrl-700.woff) format('woff'),
		url(../fonts/MuseoSansCyrl-700.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, 
body {
    /* по умолчанию у каждого браузера размер шрифта 16px
    можно сбросить до 10px, чтобы 1rem==10px */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal; 
    color: #FFFFFF;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    /* 1135px = 113.5rem */
    width: 113.5rem;
    /* align horizontally and center*/
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*сетка*/
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}

.header {
    position: absolute;
    padding-bottom: 6.4rem;
    /* when using position absolute
     - centering header horizontally 
     relative to the body (its parent) */
    left: 50%;
    top: 6.4rem;
    transform: translate(-50%, 0);
}

.header_menu {
    display: flex;
    align-items: center;
}

.header_menu_logo {
    width: 7.9rem;
    height: 2.8rem;
    margin-right: 3.9rem;
}

.header_nav a:not(:last-child) {
    margin-right: 2.4rem;
}

.header_nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    /* line-height in px / font-size in px = 
    16/ 14 = 114% (line-height in % or 1.14) */
    line-height: 114%;
}

.header_socials {
    display: flex;
}

.header_socials_icon {
    width: 1.7rem;
    height: 1.6rem;
}

.header_socials_icon:not(:last-child) {
    margin-right: 2rem;
}

.header_nav_mobile,
.header_menu_close,
.menu_burger {
    display: none;
}

/* main starts here */

.main {
    padding-top: 18.7rem;
    padding-bottom: 10.4rem;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.main_rating {
    margin-bottom: 1rem;
}

.main_rating_info {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 114%;
    margin-bottom: 1.6rem;
}

.main_rating_wrap {
    display: flex;
    align-items: center;
}

.main_rating_stars {
    display: flex;
    align-items: center;
    margin-right: .9rem;
}

.main_rating_star {
    width: 1.2rem;
    height: 1.2rem;
    /* чтобы звездочки не сжимались 
    при изменении размера экрана*/
    flex-shrink: 0;
    cursor: pointer;
}

.main_rating_star:not(:last-child) {
    margin-right: .4rem;
}

.main_rating_number {
    font-size: 1.2rem;
    line-height: 117%;
}

.main_header {
    font-family: "Museo Sans Cyrl 700";
    font-size: 7.6rem;
    line-height: 120%;
}

.main_description_wrapping {
    display: flex;
    align-items: center;
}

.main_description {
    max-width: 52.8rem;
    margin-bottom: 4.1rem;
    font-size: 1.4rem;
    line-height: 150%;
}

.main_button_play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.2rem;
    height: 13.2rem;
    margin-left: 33.1rem;
    border-radius: 50%;
    background-color: #391917;
    cursor: pointer;
}

.main_button_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #151515;
}

.main_button_dark img {
    width: 3.5rem;
    height: 4rem;
}

.main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 24.5rem;
    padding: 2.2rem 7.2rem;
    margin-bottom: 8.8rem;
    font-size: 1.4rem;
    line-height: 114%;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #151515;
    border-radius: .8rem;
}

.main-slider-wrapping {
    max-width: 41.5rem;
    display: flex;
    align-items: center;
}

.main-slider-slide {
    position: relative;
    width: 16.4rem;
    height: 10.5rem;
    border-radius: .8rem;
    /* обрезает белое пространство между
    картинками и фоном */
    overflow: hidden;
}

.main-slider-slide span {
    position: absolute;
    left: 1.2rem;
    bottom: .6rem;
    transform: translate(0, 0);
    font-size: 1rem;
    font-weight: 120%;
}

.main-slider-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider-arrow {
    width: 3.2rem;
    height: 2.2rem;
    margin-left: 2.8rem;
    flex-shrink: 0;
    cursor: pointer;
}

/* footer starts here */

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background: #030102;
    color: #686767;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer_copyright {
    font-size: 1.4rem;
    line-height: 143%;
}

/* usually browsers have paddings for lists by default*/
.footer_links {
    padding-left: 0;
    display: flex;
    color: #686767;

}

.footer_links li {
    list-style: none;
}

.footer_links li a {
    color: #686767;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 143%;
}

.footer_links li:not(:last-child) {
    margin-right: 2.5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3rem 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal_inner {
    width: 100rem;
    height: 60rem;
}

.active {
    display: flex;
}

@media (max-width: 48em) {
    html {
        font-size: 10px;
    }

    .container {
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .header {
        background-color: #151515;
        width: 69.4%;
        top:0;
        transform: translate(-28%, 0);
        padding-bottom: 4rem;
        padding-top: 4rem;
        z-index: 10;
        display: none;
    }

    .header_menu_logo {
        margin-right: 0;
        margin-bottom: 3.5rem;
    }

    .header .container, 
    .header_menu, 
    .header_nav {
        display: flex;
        flex-direction: column;
    }

    .header_socials {
        margin-bottom: 2.2rem;
    }

    .header_nav {
        display: none;
    }

    .header_nav_mobile {
        display: flex;
        flex-direction: column;
    }

    .header_nav_mobile a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.4rem;
    /* line-height in px / font-size in px = 
    16/ 14 = 114% (line-height in % or 1.14) */
        line-height: 114%;
        display: inline-block;
    }

    .header_nav_mobile a:not(:last-child) {
        margin-bottom: 1.7rem;
    }

    .header_menu_close {
        position: absolute;
        right: 4rem;
        top: 4rem;
        width: 2.3rem;
        height: 2.3rem;
        display: block;
    }

    .menu_burger {
        display: block;
        position: absolute;
        width: 5rem;
        height: 5rem;
        right: 5%;
        top: 0%;
    }

    .main {
        background-position-x: 55%;
    }

    .main_description_wrapping {
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .main_button_play {
        margin-left: 0;
    }

    .main_button {
        margin-bottom: 4.4rem;
    }

    .main-slider-arrow {
        display: none;
    }

    .main-slider-wrapping {
        max-width: 53.5%;
    }

    .footer .container {
        flex-direction: column;
    }

    .modal {
        padding: 3rem;
    }
    
    .modal_inner {
        width: 100%;
        height: 40rem;
    }
}